
			*{
				margin:0;
				padding:0;
				box-size:border-box;
			}
			.box{
				height:100vh;
				margin:10px;
			}
			.container{
				width:80%;
				margin:auto;
			}
			.image1{
			margin-top:10px;
			box-shadow:0px 1px 2px rgba(0,0,0,0.2);
			padding:0px 2px;
			border:1px solid #E4007C;
			
			}
			.image2{
			margin-top:10px;
			}
			.image3{
			margin-top:10px;
			}
			.icon_flex{
			display:flex;
			margin-top:20px;
			box-shadow:0px 2px 4px rgba(0,0,0,0.2);
			padding:10px;
			
			
			}
			.icon1{
			border:1px solid black;
			padding:10px 30px;
			border-radius:5px;
			}
			.icon1 a{
			text-decoration:none;
			color:black;
			font-family:Arial, Helvetica, sans-serif;
			}
			
			.icon2{
			border:1px black;
			padding:10px 40px;
			margin-left:10px;
			background-color:F653A6;
			border-radius:5px;
			color:white;
			font-family:Arial, Helvetica, sans-serif;
			}
			.icon2 a{
			text-decoration:none;
			color:white;
			
			}
			.simliar{
			margin-top:20px;
			box-shadow:0px 2px 4px rgba(0,0,0,0.2);
			padding:10px;
			}
			.icon3_flex i{
			padding-left:5px;
			font-size:12px;
			text-align:center;
			}
			.icon3_flex p{
			color:silver;
			margin-top:10px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.icon3_flex h1{
			margin-bottom:10px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.para{
			padding-bottom:10px;
			}
			.icon4{
				display:flex;
			}
			.icon4 p{
			font-size:15px;
			padding-left:10px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.icon4 h6{
				background-color:green;
				border-radius:20px;
				padding:2px 3px;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			.icon4 img{
			padding-left:10px;
			}
			
			.icon3_flex h5{
			background-color:silver;
			border-radius:20px;
			padding:3px 5px;
			width:80px;
			
			}
			.size a{
			text-decoration:none;
			border:1px solid black;
			border-radius:25px;
			padding:3px 10px;
			color:black;
			
			}
			.size{
			padding-top:10px;
			}
			.size h4{
			padding-bottom:10px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.Product h4{
			margin-bottom:10px;
			margin-top:10px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.Product h6{
			border-bottom:2px dotted;
			width:120px;
			font-size:15px;
			
			}
			.icon5_flex{
			display:flex;
			}
			.icon5 h3{
			margin-bottom:10px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.icon5_flex i{
			background-color:F2C1D1;
			border-radius:50%;
			height:20px;
			padding:10px 20px;
			}
			.icon5_flex p{
			margin-left:30px;
			margin-top:10px;
			font-family:Arial, Helvetica, sans-serif;
		
			}
			.icon5_flex a{
			text-decoration:none;
			margin-top:10px;
			margin-left:50px;
			border:2px solid #FF1493;
			padding:5px 20px;
			color:#FF1493
			}
			.icon6{
			display:flex;
			}
			.icon7{
			display:flex;
			}
			.icon6 p{
			margin-left:60px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.icon7 p{
			margin-left:30px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.icon6 span{
			background-color:white;
			box-shadow:0px 2px 4px rgba(0,0,0,0.2);
			border-radius:20px;
			padding:2px 8px;
			
			}
			.first_flex{
			display:flex;
			}
			.first_box{
			margin-left:70px;
			}
			.second_flex{
			display:flex;
			}
			.second_box{
			margin-left:50px;
			}
			.first_box span{
			margin-left:40px;
			
			}
			.simliar p{
			padding-bottom:20px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.icon3_flex{
			margin-bottom:15px;
			box-shadow:0px 2px 4px rgba(0,0,0,0.2);
			padding:10px;
			}
			.Size{
			margin-bottom:20px;
			box-shadow:0px 2px 4px rgba(0,0,0,0.2);
			padding:10px;
			}
			.Product{
			margin-bottom:10px;
			box-shadow:0px 2px 4px rgba(0,0,0,0.2);
			padding:10px;
			}
			.shadow{
			box-shadow:0px 2px 4px rgba(0,0,0,0.2);
			padding:10px;
			}
			.tree{
			box-shadow:0px 2px 4px rgba(0,0,0,0.2);
			}
			